<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huayang_h5client_huayangdemo"
    android:versionCode="1"
    android:versionName="1.0" >
  <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="com.huayang.huayangdemo.AppGameApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
             <activity
            android:name="com.huayang.huayangdemo.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
             
                   <activity
            android:name="com.tomato.fqsdk.HyLoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.tomato.fqsdk.HyRegActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.tomato.fqsdk.HyAgreementActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/HJDialogThemeTransparent" >
        </activity>
        <activity
            android:name="com.tomato.fqsdk.HyFindPwdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.tomato.fqsdk.HyPayMainActivity"
             android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
              android:noHistory="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
           >
        </activity>
        <activity
            android:name="com.tomato.fqsdk.HyBindPhoneActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

 
         <meta-data
            android:name="HyGamePlatformChannleId"
            android:value="0" />
        <meta-data
            android:name="HyGame_GameId"
            android:value="5001" />
        <meta-data
            android:name="HyGame_ChannelId"
            android:value="5001001" />
        <meta-data
            android:name="HYGAME_APPKEY"
            android:value="KD95663B43EBPO75195CBBD1F5FCL66PPA" />
        <meta-data
            android:name="HyGame_MainActivityName"
            android:value="com.zgge.fanqie.MainActivity" />
    </application>

</manifest>
